html{
    height: 100%;
}

body {
    background-color: rgb(206,228,239);
    /* Hide scrollbar */
    overflow-y: auto;
    overflow-x: hidden;
}

#brand {
    font-family: 'Beth Ellen', cursive;
    color: gold;
    font-size: 25px;
    font-style: italic;
}

.display-4 {
    font-family: 'Simonetta', cursive;
    font-size: 70px;
    color:white;
}

button{
    background:transparent;
    border: none;
    color:white;
}

.h3 {
    color: white;
}

.h3, #contact-us {
    position: relative;
    top:55px;
}

.algolia-places {
    width:80%;
}

.parallax-window {
    min-height: 900px;
    background: transparent;
}

.navbar {
    background-color:rgb(110, 150, 110);
}

.jumbotron {
    width: 500px;
    margin: 10%;
    background-image: linear-gradient(skyblue, rgb(69, 114, 91));
}
.position-css {
    position: relative;
    bottom: 900px;
}

#contact-us {
    width: 500px;
    padding:20px;
    margin-top: 10px;
    background-image: linear-gradient(skyblue,white);
    border-radius: 25px;
}

.contact-background {
    background-image:url("../images/activity-background-bicycle-2270328.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.parallax-slider {
    width: 100%;
    height: 100%;
    
}

#dropdown-input {
    height: 37px;
}

#basic-addon1, #submit, #send, #dropdownMenuButton, .btn-primary {
    background-color:rgb(59, 78, 69);
    color: white;
    border: transparent;
}

#submit {
    position:relative;
    right: 15px;
}

#send {
    position:relative;
    left: 15px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

#results {
    position: relative;
    bottom: 850px;
}

.eventCards {
    position: relative;
    bottom: -70px;
}