html{
    height: 100%;
}

body {
    background-color: rgb(206,228,239);
    /* Hide scrollbar */
    overflow-y: auto;
    overflow-x: hidden;
}

#brand {
    font-family: 'Beth Ellen', cursive;
    color: gold;
    font-size: 25px;
    font-style: italic;
}

.display-4 {
    font-family: 'Simonetta', cursive;
    font-size: 70px;
    color:white;
}

button{
    background:transparent;
    border: none;
    color:white;
}

.h3-contact, #contact-us {
    position: relative;
    top:55px;
}

.h3-contact {
    color: white;
    background-image:linear-gradient(transparent, rgb(99,124,164));
    padding: 5px;
}

.h3-about {
    color: white;
    background-image:linear-gradient(transparent, grey);
    padding: 5px;
}

.h3-about, #about-us {
    position: relative;
    top:55px;
}

.algolia-places {
    width:80%;
}

.parallax-window {
    min-height: 900px;
    background: transparent;
}

.navbar {
    background-color:rgb(110, 150, 110);
}

.jumbotron {
    width: 500px;
    margin-top: 10%;
    margin-left: 10%;
    background-image: linear-gradient(skyblue, rgb(69, 114, 91));
}
.position-css {
    position: relative;
    bottom: 900px;
}

#contact-us {
    width: 500px;
    padding:20px;
    margin-top: 10px;
    background-image: linear-gradient(skyblue,white);
    border-radius: 25px;
}

#about-us {
    width: 500px;
    padding:20px;
    margin-top: 10px;
}

.contact-background {
    background-image:url("../images/activity-background-bicycle-2270328.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-background {
    background-image:url("../images/action-athletes-audience-1884574.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.parallax-slider {
    width: 900px;
    height: 100%;
    
}

#dropdown-input {
    height: 37px;
}

#basic-addon1, #submit, #send, #dropdownMenuButton, .btn-primary {
    background-color:rgb(59, 78, 69);
    color: white;
    border: transparent;
}

#submit, #reset {
    padding-left: 30px;
    padding-right: 30px;
    position:relative;
    left:150px;

}

#send {
    position:relative;
    left: 15px;
}



#about-us {
    background-image:linear-gradient(rgb(212,219,226), rgb(136, 70, 93));
    border-width: 1px;
    border-style: solid;
    border-color: rgb(43,25,17);
    border-radius: 10px;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

#results {
    position: relative;
    bottom: 850px;
}

.eventCards {
    position: relative;
    bottom: -70px;
}

.card-img {
    object-fit: cover;
}

.event-muted {
    padding-bottom: 5px;
}